/* src/components/CurrentWeather.css */
.current-weather {
  background-color: #218eb2;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.current-weather:hover {
  transform: scale(1.05);
}

.current-weather h2 {
  font-size: 36px;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
}

.current-weather .temperature {
  font-size: 48px;
  margin: 20px 0;
}

.current-weather .condition,
.current-weather .humidity,
.current-weather .wind-speed {
  font-size: 24px;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
}
